.App {
  text-align: center;
  background-color: #141414;
  height: 100vh;
  font-family: monospace;
}

@font-face {
  font-family: 'joystix'; /* Specify the font family name */
  src: url('./static/fonts/joystix\ monospace.otf') format('opentype'); /* Path to the TTF file */
}